@import 'reset';

body {    
    background-color: lavender;
    color: rgb(51, 41, 25);
    font: normal 100% 'Rubik', sans-serif;
    line-height: 1.618em;
}
.container {
    font-size: 1.618rem;
    line-height: 1.618 * 2rem;
}